[2014-10-11 01:00] pmorie opened #22 "Go to type definition from whammy bar"

[2014-10-19 00:59] ironcladlou opened #35 "Go to definition should support mouse click targets, not just the cursor"
When invoking godef with a keyboard-mapped command, the target symbol is derived from the first cursor position. When invoking godef with a mouse-mapped command, target is still the first cursor position. In the latter case, the target should be derived from the click target position.

[2014-10-25 13:52] ironcladlou opened #37 "Use oracle for analytical operations"
Switch to using the [oracle](http://godoc.org/code.google.com/p/go.tools/oracle) for analytical operations, including go-to-definition. The oracle is far more advanced in capability, and catches corner cases godef doesn't support.

Current problems:
* Performance. It takes 3 seconds on my machine to perform a `describe` query for a go-to-definition edge case godef can't handle.
* Analytical scope.

[2015-01-05 12:40] Alexey-T opened #40 "Question: other editor"
Hi. Good work on Go autocomplete. Do you interested in making go autocomplete for Synwrite?
https://sourceforge.net/p/synwrite/wiki/python%20API/

(job for some $)

[2015-01-08 15:05] ironcladlou commented on #40
Thanks for the feedback. Feel free to email me, ironcladlou@gmail.com.

[2015-01-08 15:05] #40 closed

[2015-01-28 22:14] ironcladlou opened #42 "Tools aren't properly detected within GOROOT"
Tool binary searches relative to GOROOT will always miss due to a failure to take into account GOARCH and GOOS. This means that only Go tool binaries located in GOPATH/bin will be successfully located. On a vanilla Go 1.4 installation, this means things like gofmt will never be detected unless the user compiles gofmt manually into GOPATH.

[2015-01-28 22:14] ironcladlou commented on #42
Offending code: https://github.com/ironcladlou/GoTools/blob/master/GoTools.py#L129
Done right: https://github.com/ironcladlou/GoTools/issues/42

[2015-01-28 23:47] #42 closed

[2015-03-30 15:30] ironcladlou opened #47 "Test at cursor can sometimes match multiple test functions"
Consider a single test file with two test functions like:

[code]

If "Run test at cursor" is called within `Test_foo`, the `go test` execution will have args like `-run Test_foo` which will end up matching both `Test_foo` and `Test_foobar`. The user's intent is to run only `Test_foo`.

[2015-03-30 15:31] pmorie commented on #47
I actually enjoy this behavior, it's been really convenient at certain points.

[2015-04-03 19:51] ironcladlou commented on #47
I still think it's surprising behavior... when I say "Run test at cursor," I expect that test (and only that test) to run

[2015-04-03 19:53] ironcladlou opened #48 "Integrate with the Delve debugger"
Provide [Delve](https://github.com/derekparker/delve) debugger integration using the [upcoming HTTP API](https://github.com/derekparker/delve/pull/88).

SublimeText debugger integration inspiration:

* https://github.com/martomo/SublimeTextXdebug
* https://github.com/shuky19/sublime_debugger

[2015-04-03 19:59] ironcladlou commented on #48
@pmorie

We should discuss whether to add this integration to GoTools or to a separate plugin. Here's a feature I can imagine which would benefit from the integration being a part of GoTools:

* Debug test at cursor: uses the build system support to compile a test binary whose entrypoint is the test at the cursor, starts a debugging session
* Debug program: similar to debug at cursor, but uses the

[2015-04-21 14:37] pmorie commented on #48
@ironcladlou Did we not say that (2) was actually attach to running program?

We also talked about run profiles like IDEs have, but I'm not sure we felt strongly about it if you have debug test and attach to program.

[2015-04-21 14:39] pmorie opened #49 "Parity for build scripts and GOPATH build"
I want to be able to build via a build script (`hack/build-go.sh`) instead of doing a GOPATH build.  If my script prints output from the go compiler, I should be able to go to lines, etc, just as I would if I was running the go compiler directly.

[2015-04-21 23:21] ironcladlou commented on #49
I wonder if this could result in confusing effects with gocode, oracle, or any other GOPATH based tool. If the build worked relative to some other GOPATH not matching the GoTools setting, the tools results could be incorrect.

[2015-04-22 04:17] pmorie commented on #49
Hrm, good point.  Maybe there is some way to do both or reconcile the two.

[2015-04-27 16:48] pmorie commented on #49
@ironcladlou I had an idea:

1.  Allow an optional build script to be specified and working dir to run it from.
2.  Run the GOPATH build first, if it succeeds, run the build script.

[2015-06-03 00:11] ironcladlou commented on #48
I have a WIP branch going here: https://github.com/ironcladlou/GoTools/tree/delve

[2015-06-24 01:11] ironcladlou commented on #37
Resolved by #50; will open new issues for further specific enhancements.

[2015-06-24 01:11] #37 closed

[2015-06-24 01:12] ironcladlou commented on #22
Added in #50.

[2015-06-24 01:12] #22 closed

[2015-06-24 14:11] stevekuznetsov opened #52 "GoImports -s flag is not supported"
The `-s` flag passed in [here](https://github.com/ironcladlou/GoTools/blob/master/GoTools.py#L290) is not supported for goimports.

[2015-06-24 14:26] ironcladlou commented on #52
The `gofmt_cmd` setting should be more generalized to allow a command array (which includes args).

[2015-06-24 14:29] ironcladlou commented on #52
Though that's a little dangerous. Allowing the user to supply *all* the args would give them rope to break the feature. For example, by adding something like `-w` to gofmt.

Would need to be well documented.

[2015-06-24 14:30] ironcladlou commented on #47
Sorry @pmorie, it's a BUG

[2015-06-24 14:32] ironcladlou opened #53 "Split plugin code into multiple files"
Find a way to split the plugin code into multiple Python files without breaking Sublime's plugin reloading functionality. Any regression in the rapid development feedback loop would be unacceptable.

I've read about a couple of ways to do this, none of which seemed very good, but that was a while back.

[2015-06-25 13:43] stevekuznetsov opened #58 "Add support for GoRename"
A useful tool to have would be [GoRename](https://godoc.org/golang.org/x/tools/cmd/gorename) which offers refactoring support. From my testing and good Google results, I think it may be robust enough to add as a command to GoTools.

[enhancement]

[2015-06-25 14:09] stevekuznetsov commented on #58
Although this won't be super-pretty until they support JSON output

[2015-06-26 14:13] stevekuznetsov opened #59 "Syntax Highlighting bugs"
When using string formatting constructs like `%[1]s` instead of `%s`, syntax highlighting is broken:
![screenshot from 2015-06-26 10 12 48](https://cloud.githubusercontent.com/assets/7328370/8379136/f59316f4-1beb-11e5-8688-174a7348d3b0.png)
--
If the method is defined all on one line, highlighting for the *method name* works fine but things like primitive types (`string`, `map`, *etc*) are not hig

[2015-06-26 14:35] ironcladlou commented on #59
The syntax highlighting should be converted to use Sublime's [new syntax format](https://www.sublimetext.com/docs/3/syntax.html), and we should scrap the tmLanguage stuff.

[2015-06-26 17:44] #52 closed

[2015-06-26 19:13] stevekuznetsov commented on #59
Somehow it looks like you should support it [already](https://github.com/ironcladlou/GoTools/blob/master/GoTools.tmLanguage#L627) unless I am not understanding that regex correctly.

[2015-06-26 21:39] ironcladlou commented on #53
The main barrier right now is supporting shared code while preserving plugin reloading in a non-flaky way.

[2015-06-28 23:32] ironcladlou opened #66 "Environment initialization fails on OSX when installing via Package Control"
I'm seeing the following exception trying to execute `go` during plugin init when after installing via Package Control:

[code]

Haven't tried this yet on Linux.

[2015-06-28 23:53] #66 closed

[2015-06-29 18:29] stevekuznetsov opened #70 "Syntax highlighting broken with leading func type"
With a leading `type` that is a `func`, I do not get the correct syntax highlighting on the `type` or the following method `func` or name:
![nothing](https://cloud.githubusercontent.com/assets/7328370/8415152/d8242bcc-1e6a-11e5-92bb-3dd7be5a9d44.png)

With a leading function definition that is not finished, I get correct highlighting on the method `func` and name, but not on the `type` or the `fun

[2015-06-29 19:01] stevekuznetsov opened #71 "Syntax highlighting broken with newline in method definition"
If the method is defined all on one line, highlighting for the *method name* works fine but things like primitive types (`string`, `map`, *etc*) are not highlighted correctly:
![screenshot from 2015-06-29 14 59 08](https://cloud.githubusercontent.com/assets/7328370/8415842/7ad53204-1e6f-11e5-98ed-0c76704ece81.png)
If there is a newline in the method definition, the *name* is not highlighted correc

[2015-07-01 15:25] ironcladlou commented on #59
@stevekuznetsov would you mind moving #70 and #71 into this issue and then closing them? I like your idea to have a single syntax issue.

[2015-07-01 18:50] ottob opened #72 "Push syntax highlighting upstream?"
Syntax packages for latest ST3 dev builds are now on Github: https://github.com/sublimehq/Packages

Also see https://github.com/DisposaBoy/GoSublime/issues/634

[2015-07-01 19:07] #71 closed

[2015-07-01 19:07] stevekuznetsov commented on #71
Moved to #59

[2015-07-01 19:08] stevekuznetsov commented on #70
Moved to #59

[2015-07-01 19:08] #70 closed

[2015-07-01 19:08] stevekuznetsov commented on #59
@ironcladlou Should have done that from the outset. my bad!

[2015-07-01 23:50] ironcladlou commented on #72
I would definitely prefer to ditch the tmLanguage file here and just use the upstream sublime-syntax support.

[2015-07-02 07:41] ottob opened #73 "OSX installation problems"
The PATH environment variable handling for GUI applications seem [impossible](http://stackoverflow.com/questions/25385934/setting-environment-variables-via-launchd-conf-no-longer-works-in-os-x-yosemite#comment43575294_25912736) to get right with Yosemite (I'm running 10.10.4). So when ST is not launched from a terminal where it inherits the PATH environment it will get the default `/usr/bin:/bin:/

[2015-07-02 12:19] stevekuznetsov commented on #72
@ottob  @ironcladlou  I think this is a great idea - had no idea they were rolling out their implementations for us to use. I'll pull this into my fork and play with it. If it's an improvement, wohoo!

[2015-07-02 13:00] ironcladlou commented on #73
Very interesting. I actually developed the PATH lookup stuff to find `go` using OSX 10.10.3. I updated to 10.10.4 yesterday, and sure enough, loading Sublime right now, I can reproduce this error.

Thanks for the report. It's definitely a 10.10.4 regression. I'll see what I can figure out!

[2015-07-02 13:06] ironcladlou commented on #73
Worse case I could introduce a go installation path setting, and try providing an OSX specific GoTools preferences file which defaults it to include /usr/local/bin (which is probably safe to assume is going to cover most people).

[2015-07-02 13:07] ironcladlou commented on #73
@ottob an easier workaround in the meantime might be to symlink `/usr/local/bin/go -> /usr/bin/go`.

[2015-07-02 13:39] stevekuznetsov commented on #72
Their implementation is  worse somehow - while we have (broken) syntax highlighting for string formatting anchors in grave accent (``` ` ```) strings, they don't have any... and all the other bugs are still present. Nevertheless I agree that GoTools doesn't need to support it's own version if we can use that one.

[2015-07-02 13:40] stevekuznetsov commented on #59
Pushed this [upstream](https://github.com/sublimehq/Packages/issues/48)

[2015-07-02 13:40] #59 closed

[2015-07-02 17:46] #73 closed

[2015-07-02 17:46] ironcladlou commented on #73
Fixed (hopefully) in version 0.1.2.

[2015-07-02 18:28] ironcladlou commented on #73
@ottob GoTools 0.1.3 just landed in Package Control. Would you mind upgrading and verifying the fix? If the upgrade doesn't fix it, please re-open this issue. Thanks again!

[2015-07-02 18:31] ironcladlou commented on #73
I verified an upgrade from 0.1.1 to 0.1.3 on my MacBook running OSX 10.10.4.

[2015-07-02 19:45] ottob commented on #73
Yes, works here too. Thanks!

[2015-07-02 20:01] ottob opened #76 "Goto Definition improvement"
Right now it only seems to work for code within the current project. I can't "Goto Definition" to something in the stdlib (for instance `fmt.Sprintf()`[1]) or GOPATH (for example `rollbar.Error()`[2]).

When I right click any of the methods mentioned above, no "Goto Definition" action is available. I've tried with both the oracle and godef backends.

Both of these scenarios work with https://githu

[2015-07-02 20:25] ironcladlou commented on #76
@ottob

Just to be sure there's not a UX/documentation mismatch here. You said:

These statements lead me to believe you're referring to Sublime's built-in `goto_definition` command. GoTools implements go to definition for Go source with a custom `gotools_goto_def` command, [documented here](https://github.com/ironcladlou/GoTools#go-to-definition).

If you position your cursor on one of those symb

[2015-07-02 21:11] ottob commented on #76
With the "GoTools: Go to definition" command it works. Sorry for the noise! :)

[2015-07-02 21:11] #76 closed

[2015-07-02 21:13] ironcladlou commented on #76
No problem! I wonder if GoTools should somehow integrate with the built-in command.

[2015-07-02 21:16] ottob commented on #76
Btw, do you know if there is any difference in practice between using oracle or godef? Some pros/cons in the documentation might be helpful.

[2015-07-02 21:21] stevekuznetsov commented on #76
It's much less of a cold cut divide between the two than you might think.
I've been trying to keep tabs on edge case issues I find but even those
change with tool versions.

I've found one issue with Oracle - it doesn't work (well?) In isolated code
areas - tests, etc. Then again, some people's vi-go setups that use Oracle
don't have that issue so it may be an implementation thing.

Oracle was not

[2015-07-02 21:23] ottob commented on #76
@stevekuznetsov thanks, that makes sense.

[2015-07-06 14:56] #53 closed

[2015-07-07 18:29] ironcladlou commented on #49
I think I've decided I don't want to introduce this right now, and am going to just stick with integrating with the Go tooling. I wouldn't be opposed to a new proposal in the form of a PR for review. I'm going to close the issue since I personally have no intention of implementing.

[2015-07-07 18:29] #49 closed

[2015-07-07 18:55] #35 closed

[2015-07-07 19:06] #47 closed

[2015-07-13 13:05] stevekuznetsov commented on #72
@ironcladlou I think we can close this issue.

[2015-07-13 13:12] #58 closed

[2015-08-06 14:45] ironcladlou opened #84 "Support running both goimports and gofmt on save"
The `goimports` tool is not equivalent to `gofmt` for formatting (see https://github.com/golang/go/issues/8759). Users who want to use `goimports` but also want the formatting/simplification provided by `gofmt` have no means with GoTools.

The `format_backend` setting could support a `both` value which would cause the output of `goimports` to be fed immediately to `gofmt` before replacing the buff

[2015-08-08 00:06] #84 closed

[2015-08-08 00:08] ironcladlou opened #86 "Run formatting operations off the main UI thread"
During testing of #85 (for #84), I noticed main UI thread blocking when using `goimports` as the formatting backend. It's probably time to move the formatting code into async operations off the main thread to keep the SublimeText UI snappy.

[2015-08-08 00:13] ironcladlou commented on #72
I'm closing this because:

1. It's not clear to me whether what I'm already using here is better than what's upstream
2. I have no intentions of creating a new syntax file in the near future (despite the minor bugs with the existing syntax support)
3. I'm not clear on the workflow/process I'd need to establish to work with ST upstream if I were to adopt the upstream syntax file in GoTools

I don't

[2015-08-08 00:13] #72 closed

[2015-08-08 02:13] stevekuznetsov commented on #72
For what it's worth, upstream seen to have converted the original syntax
highlighting to the new format but are not supporting it or making updates.
Upstream bash is even worse.
On Aug 7, 2015 8:13 PM, "Dan Mace" <notifications@github.com> wrote:

[2015-08-10 18:53] tamird opened #87 "oracle: package_scope should default to current path"
Currently some `oracle` commands (like callers) don't work without a sublime project configuration. This can be pretty easily fixed by defaulting `package_scope` to `re.sub('^'+GOPATH, '', current_directory)`...or something like that.

https://github.com/ironcladlou/GoTools/blob/master/gotools_oracle.py#L30

[2015-08-11 13:05] ironcladlou commented on #86
I thought this would be an easy fix, but I forgot how unpredictable `view.set_viewport_position` is. In my `async-formatting` branch I've been churning on a variety of ways to get the viewport restored when invoked indirectly from a separate command/thread. I can get into states where ST reports the correct viewport coords but the screen isn't actually updated. Ugh!

[2015-08-11 14:42] stevekuznetsov commented on #86
While I don't doubt that the UI thread was locking, was it ever for long for you? I've never had the task take more than a couple milliseconds.

[2015-08-11 14:43] stevekuznetsov commented on #87
Would that work cross-platform?

[2015-08-11 14:46] tamird commented on #87
Why wouldn't it? I don't know much about how GOPATH works on windows, but it seems like the same principle would apply.

[2015-08-11 14:49] tamird commented on #86
`goimports` alone can take quite a while on a big project, easily more than 400ms in my experience.

[2015-08-11 14:58] ironcladlou commented on #86
It's noticably long/annoying for me. I might just tag a new release without this fix since the slowness isn't a regression.

[2015-08-11 15:06] ironcladlou commented on #84
Tagged this into 0.1.6

[2015-08-11 15:06] stevekuznetsov commented on #86
Hm. I guess 16GB RAM helps :)

[2015-08-11 15:08] stevekuznetsov commented on #87
There were some issues with OSX `GOPATH` previously. It could be nice to try this out, though.

[2015-08-11 15:10] ironcladlou commented on #87
I'm not sure the ST process working dir would usually be the Go package you're working with in a project. Additionally, an ST project can include an arbitrary number of folders, so I'm not sure what sort of inference would lead to what the user perceives as the "working" directory for their Go project. Other thoughts? I didn't think that a minimal project settings file was too onerous a requiremen

[2015-08-11 15:42] tamird commented on #87
@ironcladlou that's a valid point re the working directory not being what the user expects. However, the current situation is that using `oracle callers` without a project file results in an **invalid invocation** of `oracle`, so even a bad guess is better that no guess at all.

[2015-08-11 15:45] ironcladlou commented on #87
No time at this very second to experiment with the idea, but just wanted to throw out there: we could try and make a guess based on GOPATH and the filename to try and come up with a package scope.

[2015-08-11 17:34] tamird commented on #86
@stevekuznetsov I doubt memory has anything to do with it. these commands always shell out, so it's always disk IO :/

[2015-08-28 19:38] ullutau opened #90 "More commands"
Commands for 'generate', build&run (compiled executable, not 'go run'), 'kill' will be useful, especially if we can run built executable redirecting it's output to panel. I think clickable stack traces in output panel will be useful too.

[2015-08-29 00:01] cbednarski opened #91 "Add support for gorename"
Got GoTools installed with painless setup. Thanks!

I'm curious if you have plans to add support for `gorename`, or if you'd accept a PR for this.

[2015-08-29 00:25] stevekuznetsov commented on #91
PRs are welcome!

Have you had a positive experience with `gorename`? I remember it not
working as expected when @ironcladlou and I looked at it earlier.
On Aug 28, 2015 8:01 PM, "Chris Bednarski" <notifications@github.com> wrote:

[2015-08-29 01:24] cbednarski commented on #91
It's flaky. It doesn't work at all if you have compile errors. But it works often enough to save a lot of time.

[2015-08-29 02:42] ironcladlou commented on #91
I personally don't use it and so don't have many ideas yet for how it could be integrated into Sublime. As @stevekuznetsov said, PRs are certainly welcome. @cbednarski, did you already have some vision of what a `gorename` integration might look? Can you elaborate on the flakiness? I don't remember much about @stevekuznetsov and I's experiments and since I don't use it day to day I can't assess th

[2015-08-29 02:50] ironcladlou commented on #90
Thanks for the feedback. Let's break this down into discrete features:

1. `go generate`: I don't use this day to day and so don't have a good idea of the usage patterns and what a Sublime integration might look like. Do you have any ideas on how it might work from and end-user's perspective?
2. `go run` (and output redirection): I'm hesitant to start introducing terminal-like features and non-bac

[2015-08-29 03:13] cbednarski commented on #91
I started looking at this today. I think it looks pretty similar to the oracle code, but with an input prompt for the new symbol name.

gorename uses go's AST and parser to rewrite the file with the new symbol name, so if the source syntax is invalid gorename doesn't work (compared to e.g. IntelliJ which is a bit more flexible).

I've also seen gorename fail on valid code before but it's not that

[2015-08-29 11:43] ullutau commented on #90
1. I use it every day (example: generating db related code), and think the behavior is calling `go generate` in current file directory and output results to panel. Example: we have project `github.com/ironcladlou/somegoproject`. Also we have `github.com/ironcladlou/somegoproject/db` with generated code for accessing database. `/db/schema.go` contains line `//go:generate dbgen --someoption`, so to

[2015-08-29 11:43] ullutau commented on #90
Closed by accident

[2015-08-29 12:01] ullutau commented on #91
+1

[2015-09-01 20:37] cbednarski commented on #91
I've implemented this [here](https://github.com/ironcladlou/GoTools/compare/master...cbednarski:f-rename) but I'm getting this error when I run the rename command in Sublime. The same command works on the CLI so I suspect it has something to do with the execution environment, but I don't exactly how to fix it.

[code]

It looks like `gorename` can't find `go`. Since this is likely only an OSX prob

[2015-09-01 20:50] ironcladlou commented on #91
Thanks for helping with this.

PATH in Sublime with OSX is apparently often busted lately (at least as of 10.10.4). I have [a hack](https://github.com/ironcladlou/GoTools/commit/34533d0194280709c4afb6f49d105c1f2dfe2c7b) which is intended to fix it, but only for GoTools' internal resolution of the `go` binary. The PATH resolved during plugin init isn't stored for use and isn't passed through to the

[2015-09-01 20:51] ironcladlou commented on #91
I forgot to add: once you start capturing PATH somewhere accessible by plugins, you'd need to modify `ToolRunner` to pass through the corrected PATH from settings.

[2015-09-01 21:09] cbednarski commented on #91
Oops. I implemented something else before I saw your comments. If you don't like [the approach I took](https://github.com/ironcladlou/GoTools/pull/92) I can adjust it.

Yeah I thought about this briefly. I think we could use something similar to the find window to show the output from the rename command.

[2015-09-02 03:01] stevekuznetsov opened #93 "Formatting Issues"
Somehow the new combination of `goimports` + `gofmt` is not using the correct indentation. but only for [this one file](https://github.com/stevekuznetsov/origin/commit/74c436cbc098c4c74993a6a20e9c9d0c9ca0eb78#diff-82b177f33340bafc51afeea585dc1a58).

[2015-09-02 03:08] stevekuznetsov commented on #93
I had somehow managed to change that specific file's tab width to 2 instead of 4. Unclear how. Regardless, [Effective Go](http://golang.org/doc/effective_go.html#formatting) says that `gofmt` will always use tabs and never spaces, so Sublime Text is converting the tabs into spaces at some point? Perhaps this should not be allowed behavior.

[2015-09-02 03:10] stevekuznetsov commented on #93
@pmorie Ridicule accepted for this amazing display of ineptitude.

[2015-09-02 14:58] ironcladlou commented on #93
@stevekuznetsov

I thought this would take care of it: https://github.com/ironcladlou/GoTools/blob/master/GoTools.sublime-settings#L26

But of course, assuming that still works (assigning a global setting from the plugin), user settings will always take precedence.

[2015-09-06 20:51] ferbivore opened #94 "AttributeError when trying to use pretty much any command (OS X, Go 1.5)"
I get this when trying to run the "GoTools: Format" command from the palette:

    Traceback (most recent call last):
      File "/Applications/Sublime Text.app/Contents/MacOS/sublime_plugin.py", line 556, in run_
        return self.run(edit)
      File "gotools_format in /Users/Andy/Library/Application Support/Sublime Text 3/Installed Packages/GoTools.sublime-package", line 26, in run
      File

[2015-09-06 20:51] tamird commented on #94
This is because your sublime text is running without GOPATH in its environment.

[2015-09-06 20:54] ferbivore commented on #94
[code]

[2015-09-06 20:57] tamird commented on #94
can you restart sublime and open the console? there should be some useful output in there

[2015-09-06 21:08] ferbivore commented on #94
Gist: https://gist.github.com/ferbivore/0b42552011eba0d0ecc0. The relevant part is this:

    Exception: GoTools: couldn't find the go binary in PATH: /Users/Ferb/Scripts /Users/Ferb/Documents/Go/1.5/bin /Users/Ferb/Documents/Go/bin /usr/local/bin /usr/bin /bin /usr/sbin /sbin /opt/X11/bin /Library/TeX/texbin

It's quite odd. `/Users/Ferb/Documents/Go/1.5/bin` is my `GOROOT`, and indeed the `go` b

[2015-09-08 19:48] ironcladlou commented on #94
@ferbivore What version of OSX are you using? This sounds similar to #73 which I tried to resolve via #74. GoTools simply can't find `go` on your PATH. I've been avoiding adding a PATH setting  and would prefer to close any auto-detection gaps if possible.

There's something nagging me about your console output, which I assume is copy/pasted verbatim:

[code]

That particular logging output on Dar

[2015-09-08 21:24] ferbivore commented on #94
You're right, it was the path separators. I use [fish](http://fishshell.com/) as my shell, and it uses spaces to separate path entries - changing it back to bash is the quick fix.

However, there is a slightly ridiculous (if conceptually simple) solution:

[code]

I can't test this extensively today (it might require more quoting for paths with spaces - fish doesn't seem to support this concept at

[2015-09-09 13:41] ironcladlou commented on #94
Calling `sh` from $SHELL... *slowclap* :clap:

It's just crazy enough to work! I'll give this a try later on my MacBook (using bash).

[2015-09-09 20:06] ironcladlou opened #95 "Use persistent status bar strings"
The way the status bar is being used (`sublime.status_message`) is ineffective: most things written there are overwritten before anybody can see them. Use the `view.set_status` API to display persistent status messages so users can tell what's going on.

[2015-09-09 20:08] ironcladlou opened #96 "Make plugin errors more visible to users"
Plugin errors are reported primarily through the console or the status bar. For the former, user's won't usually see them without knowing to open the console. For the latter, the messages are too short-lived (#95).

Find a way to make it very clear when there's some sort of error that needs the user's attention. For example, when GoTools fails to initialize due to a failure to locate `go` (#94).

[2015-09-09 20:17] ironcladlou opened #97 "Using Fish shell on OSX breaks plugin initialization"
The OSX PATH fix (#74) assumes the user's login shell is Bash. If the user's shell is Fish, the PATH interpreting will fail because the output from `printf` will be shell specific and may not be formatted predictably (e.g. separated by `os.pathsep`). This can prevent GoTools from locating the `go` binary and basically breaks the plugin.

@ferbivore proposed a fix (https://github.com/ironcladlou/Go

[2015-09-09 20:17] ironcladlou commented on #94
Created #97 to track the underlying bug.

[2015-09-09 20:49] ferbivore commented on #97
We seem to keep similar hours - I was just testing out an alternative. This seems much less unwieldy than what you're currently using (and what I proposed):

[code]

Two assumptions: one, the `/usr/bin/login` trick isn't actually useful (it isn't for fish - I haven't tested bash as a system shell yet, and SublimeFixMacPath's [source](https://github.com/int3h/SublimeFixMacPath/blob/master/FixPath.p

[2015-09-09 20:55] ironcladlou commented on #97
Awesome research, thanks. I was in a hurry for an OSX PATH fix after my initial release to Package Control and didn't spend a lot of time understanding the implementation from SublimeFixMacPath. I should have a little time later tonight to go over my GoTools backlog, and I'll see if I can get your fix merged to master (unless you plan on making a PR).

[2015-09-09 20:59] ferbivore commented on #97
I'm working on a pull request, it should be up in a few minutes if everything goes okay.

[2015-09-09 21:40] ferbivore commented on #97
I did run into another issue, namely that `go env` seems to think my GOROOT is `/usr/local/go` for some reason:

[code]

[2015-09-09 22:23] ferbivore commented on #97
Pull request: https://github.com/ironcladlou/GoTools/pull/98

[2015-09-09 23:32] #91 closed

[2015-09-10 17:56] #94 closed

[2015-09-11 01:39] #97 closed

[2015-09-11 07:37] evgenybf commented on #94
btw, the same issue exists on windows as well:

[code]

[2015-09-11 08:14] ferbivore commented on #94
You should probably file a new bug; I'm not sure this is the same underlying problem.

[2015-09-11 09:12] evgenybf opened #100 "gotools_goto_def doesn't work with windows file paths containing drive name"
When godef returns a file name containing a disk name like `C:\Develop\Go\Go1.5\src\database\sql\sql.go:943:15` get_godef_location() falls with "no definition found" exception.

File gotools_goto_def.py:
[code]
For the example above location value will be: `('c', 'Develop\Go\Go1.5\src\database\sql\sql.go','943','15')`. As you see it contains 4 parts instead of 3..

Quick fix:
[code]

[2015-09-11 09:29] evgenybf opened #101 "Attribute error when trying to use godef"
Win7x64, sublime 3083, go1.5

godef fails with the fallowing error (very similar to #94):
[code]

Log investigation showed that there is an initialization problem:
[code]
https://gist.github.com/evgenybf/a3612e831cf8cf88e4e2#file-sublime-log

The line which causes the error:
[code]
It's interesting that Popen does not raise the exception when I remove `stdout=subprocess.PIPE` from the argument lis

[2015-09-11 09:56] evgenybf commented on #101
Something wrong with sublime's python:
[code]

The same command doesn't fall on a standalone python (2.7, 3.4 32bit)
[code]

[2015-09-11 10:25] evgenybf commented on #101
I am very sorry for the mess here.. it turned out that the problem was on my side:
http://www.sublimetext.com/forum/viewtopic.php?f=3&t=2220#p15441
[code]

The error doesn't occur when sublime is run from windows explorer! Usually I start it from command line with the batch script:
[code]

Workaround (http://www.sublimetext.com/forum/viewtopic.php?f=3&t=2464#p11304):
[code]

[2015-09-11 11:29] ironcladlou commented on #101
Is the problem corrected if you change the `Popen` call to this:

[code]

Failing to redirect stderr here can cause the target process to hang, and the Python bug you cited also seems to indicate that if output isn't properly redirected, there can be a cascade of null handling that manifests the bug.

I now correctly redirect stderr as of #99 but I haven't yet tagged a new release.

[2015-09-11 11:35] ironcladlou opened #102 "Optimize settings handling to prevent frequent settings reloads"
Settings are reloaded and processed every time a GoTools sub-plugin does work. This is horribly inefficient, especially for the gocode plugin which is instantiated every time the SublimeText autocomplete engine executes (which can be very soon after each keystroke when typing).

Settings should initialize once after `plugin_loaded` and should react to Sublime settings change events so that re-init

[2015-09-11 11:36] ironcladlou commented on #86
Backlogging this for now due to technical difficulty.

[2015-09-11 12:07] evgenybf commented on #101
No, the stderr param changes nothing in the case

[2015-09-11 12:34] ironcladlou commented on #101
I should have read the upstream bug in more detail: the error manifests if you don't redirect ALL the standard streams. If you change the code to this, does it work?

[code]

[2015-09-11 12:42] evgenybf commented on #101
Yep, the problem has disappeared. Both subl.exe and sublime_text.exe run from command line without any errors now.

[2015-09-11 12:58] ironcladlou commented on #101
Great, thanks. I'll patch this.

[2015-09-13 01:05] #101 closed

[2015-09-13 01:06] ironcladlou commented on #101
@evgenybf

I merged what I think is a more succinct fix for this in #104. Would you mind either using the master branch of GoTools or manually applying the patch locally to test on your end? Thanks!

[2015-09-13 01:06] #102 closed

[2015-09-13 01:23] #100 closed

[2015-09-13 07:23] evgenybf commented on #101
@ironcladlou, sorry, I haven't been able to check the master branch yet as GotoolsGotoDef.godef falls because of non-initialized GoToolsSettings.Instance there (for some reason it's equal to None in spite of plugin_loaded()).. But all Popen calls look correct.

[2015-09-13 08:55] evgenybf opened #107 "Current singleton implementation in GoToolsSettings doesn't work"
It's broken at least since commit 6b7b4574751b8a019274241fcf76358c79774b65

godef falls with the following trace:
[code]

Quick investigation:
I've added `print ("remove it!!!!")` to the beginning of the GoToolsSettings class definition
[code]

Result log:
[code]
The log above shows that gotools_settings is initialiazed twice. I guess that gotools_build works with its own instance of gotools_setti

[2015-09-13 12:31] ironcladlou commented on #107
Hrm, thanks for the details. I also got weird behavior when restarting ST, but then couldn't reproduce it. I am skeptical enough in how the plugin lifecycle is working for this purpose now that I think I should maybe just try consolidating access through a static method which lazy inits a static instance guarded by a mutex or something. There might be some small pause for settings init the first t

[2015-09-13 13:15] ironcladlou commented on #107
I redid this in #108. Could you try again with the latest master? Thanks again for the testing help, it's greatly appreciated.

[2015-09-13 13:28] evgenybf commented on #107
godef works now, thanks!
[code]

[2015-09-13 14:26] ironcladlou commented on #107
Thanks!

[2015-09-13 14:26] #107 closed

[2015-09-13 14:27] ironcladlou commented on #93
Going to close this one since I don't think there's anything more the plugin can do about it.

[2015-09-13 14:27] #93 closed

[2015-09-14 00:54] ironcladlou opened #110 "Add minimal go generate support (feedback needed)"
Add minimal support for `go generate` as requested in #90. Features TBD, but some simple ideas:

1. Command to generate `build_packages` defined in GoTools settings
2. Command to generate current file
3. Support generating `build_packages` before build proceeds
4. Support `generated_packages` setting (can omit for the initial version if 1-3 prove sufficient for the majority of use cases; in genera

[2015-09-14 00:54] ironcladlou commented on #90
Moving the discussion about `go generate` to #110.

[2015-09-14 01:03] ironcladlou commented on #90
The answer is selfish: GoTools is built around my own habits. :grin:

When I'm working with Go, I like to build in Sublime, switch to my terminal, and run the thing I just built. If I didn't `go install` then I'd have an extra step. I've never not wanted to `go install`, so never added a setting. I really try to avoid adding settings because they increase the testing and maintenance burden.

Maybe

[2015-09-14 01:07] ironcladlou commented on #90
To get started, add `test_packages` key in your project's GoTools settings. From there you can run any of the test commands [described in the README](https://github.com/ironcladlou/GoTools/blob/master/README.md#tests).

[2015-09-14 01:12] ironcladlou commented on #90
Regarding the ability to execute a go program after building within Sublime (outlined in https://github.com/ironcladlou/GoTools/issues/90#issuecomment-135932648), I don't think I'm going to implement this as described.

Sometimes I've really wanted something very special purpose like the go playground: run a command, get a new temporary buffer which you can then run a special command against to co

[2015-09-14 01:15] ironcladlou opened #111 "Show godoc information"
Find a nice way to present godocs in the UI. For example, showing godocs for the symbol under the cursor. Investigate the semi-recent ST tooltip API for this (as a subset of HTML may be rendered).

[2015-09-14 09:10] evgenybf opened #112 "godef doesn't work with source files containing windows line endings and characters in utf-8"
It turned out that view.text_point returns the same offset for files which contain Linux or Windows line endings. That's wrong as windows line endings are composed of two characters: 0x0d 0x0a, while linux line endings are just a single character 0x0a. As a result, godef (and others!) can't find correct identifier in a text when it's in the Windows format.

I hope that there is better workaround t

[2015-09-14 11:46] ironcladlou commented on #112
Sounds like a bug in `sublime.View.text_point` for sure. The workaround you proposed seems like it'd be better than nothing. Without the patch, it's wrong most of the time, and with the patch it'll only be wrong some of the time (and I'm not really concerned about mixed line endings- I consider that a developer problem :grin:).

Want to submit a PR?

[2015-09-14 11:47] ironcladlou commented on #112
We should probably come up with a simple test scenario and file a bug upstream at https://github.com/SublimeTextIssues/Core.

[2015-09-14 12:43] evgenybf commented on #112
@ironcladlou, It's possible that result of text_point is not supposed to be used outside of Sublime. I assume that Sublime cut off all line endings when it loads a file into memory.

[2015-09-14 12:56] ironcladlou commented on #112
@evgenybf

That's a fair point. I guess the only way to know for sure will be to engage upstream. If the offset isn't supposed to and will never work the way we need, I'm not sure what else to do at the moment.

[2015-09-14 13:22] evgenybf commented on #112
https://github.com/SublimeTextIssues/Core/issues/989

[2015-09-15 07:39] evgenybf commented on #112
The same problem with files with utf-8 characters.

https://gist.github.com/evgenybf/f1436c5daf0c0fcac975

[2015-09-15 11:42] ironcladlou commented on #112
Looks like we're going to need some novel way to get a correct byte offset portably and efficiently. I have no ideas at the moment.

[2015-09-15 12:51] evgenybf commented on #112
Quick workaround based on
https://github.com/clemos/haxe-sublime-bundle/blob/master/features/haxe_find_definition.py
[code]
Please, do not use it as is. It's just a draft without any optimizations.

[2015-09-15 13:08] ironcladlou commented on #112
Interesting approach... I'll tinker with it. Thanks, good find!

[2015-09-15 18:54] ironcladlou opened #113 "Integrate with go vet"
Add support for `go vet`.

[2015-09-15 20:50] ironcladlou commented on #112
This exact scenario and discussion happened in 2011 on vim-dev... Pretty interesting just how similar it is. https://groups.google.com/forum/#!topic/vim_dev/7XLbDYHXCfA

[2015-09-16 02:18] stevekuznetsov commented on #112
@ironcladlou Really funny how their encodings screw up each others' names in the quoted text they're responding to.

[2015-09-16 03:50] stevekuznetsov commented on #113
As we have learned today this seems to not be a trivial matter. Hopefully from that conversation we can learn how to best use `go vet` and answer questions like:
* how do we ensure that two people running the same version of `go vet` on the same code result in the same output?
* what are the pros and cons of running `go vet`on specific source files versus a tree or directory?
* how do we ensure th

[2015-09-16 03:51] stevekuznetsov opened #114 "Integrate with go lint"
If we do `go vet`, we might as well add `go lint` as well.

[2015-09-24 20:03] tamird opened #115 "AttributeError: 'GotoolsFormat' object has no attribute 'runner'"
Something was missed in https://github.com/ironcladlou/GoTools/commit/6b7b4574751b8a019274241fcf76358c79774b65#diff-1f0a2492cefa677ed49faf6317c4fda3R48

[2015-09-24 20:14] ironcladlou commented on #115
Fixed in `0.1.7.1`.

[2015-09-24 20:14] #115 closed

[2015-09-25 11:42] tamird commented on #115
Can you push `0.17.1` to packagecontrol?

[2015-09-25 12:30] ironcladlou commented on #115
I already pushed the tag to GitHub- I'm not sure why Package Control isn't picking it up. This is the first time I've had any trouble.

[2015-09-25 12:33] ironcladlou commented on #115
I pushed it as 0.1.8 instead. Apparently 0.1.7.1 doesn't comform to semantic versioning.

[2015-10-01 18:27] ironcladlou commented on #113
I played with `vet` more in depth today. It actually brings us to a design impasse. The tool works in the following contexts:

1. A *single* package in GOPATH
2. Named `go` files in *the same package*
3. All packages found recursing into *a named directory*

The current GoTools project settings structure doesn't quite mesh with the available `vet` options for a nontrivial case. Number 3 is closest

[2015-10-02 00:37] ironcladlou commented on #113
I was looking over vim-go for inspiration, and I think I see the way forward here. Vim-go has a `gometalinter` command which lets you run all the popular linters. I think introducing that concept in GoTools would make sense and also warrants a new settings key like:

[code]

A `lint` command would run all linters (by default) or the specified linters. We have the base project path by locating `pro

[2015-10-02 00:41] ironcladlou commented on #113
A simpler way of expressing this would be: For each directory, run the linter in recursive mode and accumulate the results. The `dirs` setting would default to just `[ <project directory> ]` which would be "all packages."

[2015-10-02 00:46] stevekuznetsov commented on #113
Are we attempting to run this in order to do error highlighting? Why don't we just invoke it for the currently focused file?

[2015-10-02 00:54] ironcladlou commented on #113
I don't think so, at least not at first. I consider it more like the `oracle` command- it'll give you a plain output panel with clickable references.

That will be possible, in addition to the other modes (all packages in some/all dirs, all files in current package). I want them all.

[2015-10-02 00:55] ironcladlou commented on #113
To be clear, adding markers is not hard, just not my priority for v1 of the feature.

[2015-10-02 01:02] stevekuznetsov commented on #113
I see, that make sense. A click-able panel that allows me to jump to errors would definitely be very useful. The outline you gave seems sensible to me. We should perhaps expose the different flags for `vet` (`shadows`,`composites`, etc) instead of throwing the output lines through a regex filter - unclear what the purpose of that is. Given that errors can occlude others (when `vet` gives up premat

[2015-10-02 01:08] ironcladlou commented on #113
Filtering might not be necessary off the bat if you can choose directories for the package scanning. Mainly I wanted to avoid running things like Godeps or generated stuff like assets blobs if possible by post-filtering the output (as not all the tools support any filtering internally for their recursive options). Being able to whitelist dirs might be enough to cover all the typical cases without

[2015-10-13 03:36] alecdwm opened #119 "String formatting '%[d]s' (explicit argument indexes) syntax: highlighting broken"
When using the Go fmt package one has the option to format a string with 'explicit argument indexes'.
(https://golang.org/pkg/fmt/): _ctrl+f search 'Explicit argument indexes:'_

The syntax highlighting for a string using this feature is incorrect, displaying the '%' character in the same formatting as an erroneous usage of the '%' character, rather than the formatting for the correct usage.

![im

[2015-10-13 03:41] stevekuznetsov commented on #119
This is an upstream issue here: https://github.com/sublimehq/Packages/issues/48

It doesn't look like Sublime wants to maintain the syntax highlighting packages...

[2015-10-13 03:53] alecdwm commented on #119
Ah no worries! Thanks! :+1:

[2015-10-13 03:53] #119 closed

[2015-10-13 03:54] stevekuznetsov commented on #119
No problem, maybe if you go upstream and post your support for fixing that issue something will happen? I'm not hopeful, maybe I'll learn the new syntax language and do it myself soon.

[2015-10-14 20:57] jduhamel commented on #114
might want to look at gometalinter. Takes a lot of the pain out of lint. It's already available through the sublimelinter and the https://github.com/alecthomas/SublimeLinter-contrib-gometalinter. Makes install, upgrade simple and processing it is easy as well.

[2015-10-14 21:13] stevekuznetsov commented on #114
Quite a lot of the functionality of that tool seems to be native within `go vet` already. Notable exceptions:
* [`gocyclo`](https://github.com/alecthomas/gocyclo) - Computes the cyclomatic complexity of functions.
* [`dupl`](https://github.com/mibk/dupl) - Reports potentially duplicated code.

[2015-10-14 23:42] syncore opened #120 "Close gocode on Sublime Text exit"
On Windows, gocode.exe continues to run even after Sublime Text closes. Is there some kind of workaround for this?

[2015-10-15 14:10] ironcladlou commented on #120
Gocode uses a transparent client/server model and daemonizes itself by design. I looked in the sublime API for a way to implement a plugin destructor or hook into the shutdown sequence or window close event, but nothing's standing out at me at the moment. Running `gocode close` will shut down the daemon.

The Sublime forums are currently down; I'll do some digging to see what our options are.

[2015-10-15 16:53] syncore commented on #120
Thanks! It's not really a huge deal, I mean gocode barely uses any resources and I currently have a key combination bound to close gocode (I just need to remember to press it)

[2015-10-16 11:53] ironcladlou commented on #120
Looks like there's an upstream issue to support callbacks on Sublime close: https://github.com/SublimeTextIssues/Core/issues/10

[2015-11-03 15:31] jduhamel opened #121 "May be a good time to integrate with the golang.org/sublime-* stuff"
Over at github.com/golang/sublime-build and github.com/golang/sublime-config are both looking useful.
May make some stuff easier.

[2015-11-04 00:32] ironcladlou commented on #121
Thanks for the tip. I took a quick look. If I felt there was a lot of demand I'd look more closely into integration, but at this very moment it looks like a lot of work for features I don't really need (as opposed to say, the ongoing Delve integration.)

I'll leave the issue open for a while to provide a venue for feedback.

[2015-11-04 00:35] ironcladlou commented on #121
I will say in general that my goal with GoTools was to provide a cohesive/opinionated package that leans on community backends- not to aggregate or integrate with other Sublime plugins.

[2015-11-06 15:20] jduhamel commented on #121
My thoughts in general was that I like where they were going in identifying all the messy bit of GOPATH and putting them where they belonged.
I also liked their build system.
I use go tools for the opinionated highlighting and godef/gofmt/oracle integration.

[2015-11-12 11:06] markreg opened #122 "goto def not working"
Goto definition doesn't seem to work as expected. I moved over from GoSublime since it was having the same issue. Just to be sure, does this feature allow me to right click or hit `ctrl+g` and open another file and/or jump the cursor to the place where the type is defined?

As of no `Goto definition` option shows up nor does `ctrl+g` work as I thought it would.

Any suggestions? I think I'm missin

[2015-11-12 13:21] stevekuznetsov commented on #122
In case there's some keybinding issue or collision, try sticking it on another key - I have in my default keymap

[code]

This works fine for me.

You also must have the correct `${GOPATH}` set in order for the `oracle` to work.

[2015-11-12 14:00] ironcladlou commented on #122
If in doubt, add this to your GoTools settings:

[code]

Then watch the Sublime console while running the `gotools_goto_def` command and see what you get.

[2015-11-12 14:00] ironcladlou commented on #122
I also highly recommend using the `godef` backend rather than `oracle` if your project is of nontrivial size.

[2015-11-13 03:08] markreg commented on #122
Unfortunately it still doesn't work. `Goto definition` doesn't show up in the right click menu and when I execute the keyboard shortcut i get this debug output in sublime's console:

[code]

This is my `go env`:

[code]

[2015-11-13 05:47] #122 closed

[2015-11-15 18:15] pspeter3 commented on #121
I feel like they do a great job of setting up how the Sublime Text project should work.

[2015-11-19 06:55] liuhewei opened #123 "A small suggestion：Put "go to definition" into right-mouse's menu"
It's very common on other IDEs. Just put into [Context.sublime-menu](https://github.com/ironcladlou/GoTools/blob/master/Context.sublime-menu)
[code]

[2015-11-19 08:14] liuhewei commented on #112
@ironcladlou Could you take a look at the implementation of GoOracle: https://github.com/waigani/GoOracle/blob/master/goOracle.py#L25

It might help.

[2015-11-21 02:20] ironcladlou commented on #123
FWIW, you can override the context menu of any plugin (including GoTools) by making a file which overwrites the plugin's context menu. For GoTools, create `$SUBLIME_CONFIG_DIR/Packages/GoTools/Context.sublime-menu` and modify as you prefer. I use this technique for the GitHubinator plugin to reduce the context entries to the two I use most.

[2015-11-21 02:56] liuhewei commented on #123
@ironcladlou Thanks for the tips!

[2015-12-10 15:42] iyee opened #124 "GoTools: no definition found"
my user setting:
[code]

sublime-keymap:
[code]

sometimes when clicking ctrl+f to try to find the funcs' definitions, I'll get the error: GoTools: no definition found.

debug logs:
[code]

[2016-01-03 02:26] ironcladlou commented on #112
@evgenybf @liuhewei would you be willing to test the fix in #125? I've done a few simple tests locally and I don't notice any obvious regressions. I don't have the time right now to set up a test which would exercise Windows line endings, etc.

[2016-01-08 19:56] #112 closed

[2016-01-08 23:28] ironcladlou commented on #124
The `godef` tool isn't without bugs; can you provide some source to reproduce the issue? That would help determine whether the issue is with `godef` or with GoTools itself.

Without steps to reproduce, there's not much we can do.

[2016-01-08 23:28] ironcladlou commented on #123
Closing this since I don't intend to add the context menu item.

[2016-01-08 23:28] #123 closed

[2016-01-08 23:31] ironcladlou commented on #90
Closing this in favor of discrete followup issues.

[2016-01-08 23:31] #90 closed

[2016-01-10 08:05] iyee commented on #124
Have switched back to *GoSublime* & godef working again, issue closed for now, thank you.

[2016-01-10 08:05] #124 closed

[2016-01-22 19:13] davmaz opened #126 "Go oracle calls fail"
After following the README setup instructions, whenever I try to invoke the oracle, I get the error message:
Golang Tools: Oracle call failed(1)
Any hints as to what I'm not doing right?

[2016-01-22 21:05] stevekuznetsov commented on #126
@davmaz Could you please open the Sublime console, as with:
[code]
Then use an Oracle command and paste the error output?

More details can also be had by setting `"debug_enabled": true,` in your `GoTools.sublime-settings`. This will give more verbose output to the Sublime console.

Most often errors with Oracle stem from not having `$GOPATH` set correctly.

[2016-02-01 14:42] ottob opened #127 "Support vendoring in goimport"
It seems like the editor integration has to be modified for goimport with vendoring support. I'm running go1.6rc1 and the latests GoTools. When I save a file the expected import statements are not added.

I used the installation instructions for updated goimport here: https://blog.filippo.io/most-go-tools-now-work-with-go15vendorexperiment/#aboutgoimports

I also used the additional patch for goim

[2016-02-01 14:57] ironcladlou commented on #127
Would you be willing to make a small example demonstrating the problem so I can reproduce it locally? I don't use go 1.6, or go 1.5's experimental vendor support, or goimports itself and so haven't tracked any of these problematic interactions.

[2016-02-01 15:06] ottob commented on #127
Sure. Copied from https://blog.filippo.io/most-go-tools-now-work-with-go15vendorexperiment/#aboutgoimports

[code]
Install patched goimport.

[code]
If I open the main.go file and save it in Sublime instead, the `import "filosottile.info/tmp/go16vendor/vendor/example.com/hello"` is not added.

[2016-02-01 16:04] stevekuznetsov commented on #127
As per your link, shouldn't we be waiting on that upstream change to merge before we do anything?

[2016-02-01 17:16] ottob commented on #127
You probably should. Just wanted to give you a heads up :)

[2016-02-01 19:01] ottob commented on #127
But maybe GoTools should check if the -f flag exists and if so use it. I think 1.6 will be released soon and then many users will start using vendoring and the new goimport tool.

[2016-02-03 20:08] ottob commented on #72
Upstream lives! :smile:

Is it time to reconsider this? Go from build 3100 works better than the syntax highlighting included in GoTools .

[2016-02-03 20:14] stevekuznetsov commented on #72
Absolutely. They're finally working on updating their highlighting, so I think GoTools no longer needs to support its own. @ironcladlou thoughts?

[2016-02-03 20:51] ironcladlou commented on #72
No real objections... Don't count on me getting to it any time soon though. I'm still considering a full switch to VScode for go programming, and that has really took the wind out of my GoTools sails.

Sublime finally released a pretty lackluster update today, which didn't help with my enthusiasm levels.

[2016-02-03 21:12] ottob commented on #72
I didn't know VScode was worth a try, thanks for the hint.

[2016-02-06 12:41] ottob commented on #127
Had another look at this. There are two issues:

1. I started Sublime from Finder so the PWD env var was not set for ToolRunner.
2. change https://github.com/ironcladlou/GoTools/blob/master/gotools_format.py#L29 to `args = ["-e", '-f=%s' % self.view.file_name()]`

Now if I start Sublime with the terminal from $GOPATH/src/filosottile.info/tmp/go16vendor with the patch above it works as expected.

[2016-02-08 17:49] nuance commented on #113
This doesn't address the configuration messiness (although wiring in whatever ends up being the design shouldn't be hard), but I've built a limited version of this in https://github.com/nuance/GoTools/commit/c0736396f56f0a31600eab4f8fb903e56342a9ff

[2016-02-08 17:49] nuance commented on #114
Echoing from the golint issue, I've built a basic version of this here https://github.com/nuance/GoTools/commit/c0736396f56f0a31600eab4f8fb903e56342a9ff

[2016-02-17 19:18] cbednarski opened #128 "GoTools syntax detects strings in the wrong places"
I haven't kept up closely with the changes in the Sublime upstreams but I think their syntax engine was extracted and now lives on [github independently of Sublime Text itself](https://github.com/sublimehq/Packages). Using Sublime Text build 3104, the built-in Go highlighter seems preferable to the one provided by GoTools.

With GoTool's highlighter I get this:

![screen shot 2016-02-17 at 11 07 2

[2016-02-17 19:24] ironcladlou commented on #128
Thanks for the details. I'll try and find time soon to play with removing the syntax file. Admittedly my time and interest has waned since I discovered Visual Studio Code + vscode-go. I wouldn't say I've totally abandoned GoTools yet (I actually have a branch with a revamped/drastically simplified config setup, a total rewritten build/test/check subsystem supporting on-the-fly builds with error hi

[2016-02-18 07:00] ottob commented on #127
And with the latest version of the goimports patch:
`args = ["-e", '-srcdir=%s' % self.view.file_name()]`

[2016-02-18 21:38] ottob commented on #127
The patch for goimport has now been committed: https://github.com/golang/tools/commit/bf084ef7580ee99a5efa3086138c942aca4aefd4

Should I prepare a PR?

[2016-02-18 23:39] justinfx opened #130 "Plugin init fails if $SHELL == "/bin/tcsh""
When trying to run a "go to definition" command, GoTools settings logic will fail if the shell environment is tcsh. This is because the code assume various flags that can be passed to an arbitrary shell:

https://github.com/ironcladlou/GoTools/blob/master/gotools_settings.py#L194

[code]

In the case of tcsh, the "-l" flag is not valid.

[2016-03-03 03:53] ironcladlou commented on #48
I've decided this is way outside the scope of what Sublime can reasonably provide. Try Visual Studio Code with vscode-go for integrated debugging support.

[2016-03-03 03:53] #48 closed

[2016-03-03 03:54] ironcladlou commented on #120
Seems unlikely this will ever be fixed.

[2016-03-03 03:54] #120 closed

[2016-04-04 03:31] liuhewei commented on #121
I also think it's great to integrate Gotools with golang official sublime-build & config. There are some duplicated features when use them together, also regarding that sublime itself improved the golang syntax recently.

Has some one already been trying to do this?